.speech{
font-family: 'Arial Narrow Bold', sans-serif;
font-size: 18px;
color: black;
}

.direction{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color:azure;
}

.direction:hover{
    background-color:beige;
    color: brown;
}
.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.LOPAKHIN{
    color: darkblue;
}

.DUNYASHA{
    color: chartreuse;
}

.EPIKHODOV{
    color:darkmagenta;
}

.table{
    border-color:rgba(15, 181, 120, 0.705);
    width: 0vmax;
    text-align: center;
    padding: 13px;
    margin: 12px;
}
.table_header_col{
    background-color: blueviolet;
}
th{
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(51, 150, 5);
    color:rgb(252, 250, 250);
    height: 50px;
    background-color:rgba(13, 36, 186, 0.858);
}

td {
    border: 2px solid;
    border-radius: 3px;
    border-color:rgb(198, 45, 58);
    height:40px;
}

tr:hover {background-color: chocolate;
}


.DUNYASHA:hover {
    font-size: medium;
    color:rgb(13, 217, 159);
    text-shadow:0 0 10px rgb(171, 14, 14);
    border-style: double;
    border-radius: 5px;
}
.LOPAKHIN:hover {
    font-size: medium;
    color:rgb(105, 18, 212);
    text-shadow: 0 0 10px rgb(138, 219, 9);
    border-style: double ;
    border-radius: 5px;
}
.EPIKHODOV:hover{
    font-size: medium;
    color:rgb(6, 108, 224);
    text-shadow: 0 0 10px rgb(242, 7, 168);
    border-style: double;
    border-radius: 6px;
}
u1.navbar-horizontal {
    list-style-type: none;
    margin: 2;
    padding: 3;
    }
    u1.navbar-horizontal li {
        float:left;
        color:rgb(81, 4, 33);
        background-color: rgb(171, 214, 16);
    }
    u1.navbar-horizontal a {
        display:block;
        padding:8px;
    }
    u1.navbar-horizontal a:hover {
        background-color: rgb(228, 72, 98);
        color:rgb(246, 87, 14);
    }
